.App {
  text-align: center;
}

.card {
  margin: 5rem;
  box-shadow: 0 0 10px 0 #ddd;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 350px;
  text-align: center;
  padding: 1rem;
  margin: 1rem 2rem;
  cursor: pointer;
  float: left;
}

.card:hover {
  transform: scale(1.03);
}